# Exercises 1.1: importing and exporting data

### PA Women in Tech: Intro to Data Science with Python

In these exercises we will look at **importing and exploring data**. We will:
- use pandas and NumPy
- import files of diffent types
- explore data to understand:
    - data types
    - missing data
    - stats about data

## Importing libraries

1a. Import the `numpy` and `pandas` libraries, with their usual short names of `np` and `pd` respectively

In [1]:
import pandas as pd
import numpy as np

## Loading data files

In [2]:
csv_file_name = "week_1_data.csv"
txt_file_name = "week_1_data.txt"

1b. Load the csv and txt data files using the `numpy` functions `genfromtxt()` and `loadtxt()` and variable names `csv_array` and `txt_array` respectively

* Also use the `delimiter=","` and `dtype=str` keyword arguments

* Use the `skip_header=1` and `skiprows=1` arguments respectively to ignore the first row which contains the column names

In [6]:
csv_df = pd.read_csv(csv_file_name, sep=",")

csv_array= np.genfromtxt(csv_file_name, delimiter=',', dtype=float, skip_header = 1)
txt_array = np.loadtxt(txt_file_name, delimiter= ',', dtype=str, skiprows=1)

1c. Load the csv and txt data files using the `pandas` functions `read_csv()` and `read_table()` and variable names `csv_df` and `txt_df` respectively
* This time do not ignore the first row as the column names can be used by `pandas`

In [9]:
csv_df = pd.read_csv(csv_file_name, delimiter=",")
txt_df = pd.read_table(txt_file_name, delimiter=",")

,feature A,feature B,feature C,feature D,feature E,feature F,feature G,feature H,feature I,label
0,-1.692192,-0.421672,-1.789104,-1.293036,1.064762,1.544351,0.174556,0.572912,0.197412,-7.498772
1,-0.511220,-0.166921,0.507517,-0.243051,0.640542,0.439021,-1.827957,-0.731183,0.485393,21.162524
2,0.059353,0.831303,-0.915439,0.660302,0.555200,0.173515,0.139006,0.595713,-0.824207,151.148060
3,0.374488,-1.186930,-1.438007,-0.067405,0.898368,-0.515061,-0.253298,-1.156222,2.492447,86.522197
4,NaN,-0.067675,0.260916,-1.514934,NaN,0.820740,-1.338398,0.779921,-1.199852,-148.005658
...,...,...,...,...,...,...,...,...,...,...
1995,-1.085931,-2.551792,1.337470,0.086120,0.832729,0.971260,0.799607,1.070627,-1.134954,177.365526
1996,0.309848,-1.321750,-1.343061,0.275843,1.241276,-0.366639,-1.811137,0.827818,0.785298,86.830829
1997,0.016819,0.700305,0.521211,-1.805882,1.197416,0.753116,-0.269020,0.004878,0.284010,107.237119
1998,NaN,0.143954,0.145462,-0.251355,1.023405,-0.544188,-1.154111,1.446162,0.437147,-110.699384
1999,NaN,0.128160,0.329778,1.185982,0.358305,-0.049627,0.102574,-0.949944,1.095899,80.671137

## Exploring the CSV file imported with NumPy

2a. Display the data types of the array elements from `csv_array`

In [14]:
csv_array.dtype

dtype('float64')

2b. Display the shape of the data

In [15]:
csv_array.shape

(2000, 10)

2c. Display the length of the array

In [40]:
len(csv_array)

2000

2d. Display the first row of the array

In [21]:
csv_array[0:1]

array([[-1.6921919 , -0.42167236, -1.78910393, -1.29303593,  1.06476151,
         1.54435129,  0.17455608,  0.57291248,  0.19741157, -7.49877184]])

## Exploring the CSV file imported with pandas

3a. Display the first 5 rows of the dataframe `csv_df`

In [22]:
csv_df.head(5)

,feature A,feature B,feature C,feature D,feature E,feature F,feature G,feature H,feature I,label
0,-1.692192,-0.421672,-1.789104,-1.293036,1.064762,1.544351,0.174556,0.572912,0.197412,-7.498772
1,-0.511220,-0.166921,0.507517,-0.243051,0.640542,0.439021,-1.827957,-0.731183,0.485393,21.162524
2,0.059353,0.831303,-0.915439,0.660302,0.555200,0.173515,0.139006,0.595713,-0.824207,151.148060
3,0.374488,-1.186930,-1.438007,-0.067405,0.898368,-0.515061,-0.253298,-1.156222,2.492447,86.522197
4,NaN,-0.067675,0.260916,-1.514934,NaN,0.820740,-1.338398,0.779921,-1.199852,-148.005658

3b. Display the last 5 rows of the dataframe

In [23]:
csv_df.tail()

,feature A,feature B,feature C,feature D,feature E,feature F,feature G,feature H,feature I,label
1995,-1.085931,-2.551792,1.337470,0.086120,0.832729,0.971260,0.799607,1.070627,-1.134954,177.365526
1996,0.309848,-1.321750,-1.343061,0.275843,1.241276,-0.366639,-1.811137,0.827818,0.785298,86.830829
1997,0.016819,0.700305,0.521211,-1.805882,1.197416,0.753116,-0.269020,0.004878,0.284010,107.237119
1998,NaN,0.143954,0.145462,-0.251355,1.023405,-0.544188,-1.154111,1.446162,0.437147,-110.699384
1999,NaN,0.128160,0.329778,1.185982,0.358305,-0.049627,0.102574,-0.949944,1.095899,80.671137

3c. Display the index of the dataframe

In [24]:
csv_df.index

RangeIndex(start=0, stop=2000, step=1)

3d. Display the column names of the dataframe

In [25]:
csv_df.columns

Index(['feature A', 'feature B', 'feature C', 'feature D', 'feature E',
       'feature F', 'feature G', 'feature H', 'feature I', 'label'],
      dtype='object')

3e. Display the dataframe information

In [27]:
csv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature A  1600 non-null   float64
 1   feature B  1994 non-null   float64
 2   feature C  1990 non-null   float64
 3   feature D  1998 non-null   float64
 4   feature E  1966 non-null   float64
 5   feature F  1992 non-null   float64
 6   feature G  1970 non-null   float64
 7   feature H  1994 non-null   float64
 8   feature I  1974 non-null   float64
 9   label      2000 non-null   float64
dtypes: float64(10)
memory usage: 156.4 KB

## Converting data between NumPy and pandas formats

You can convert numpy array into a pandas dataframe and vice versa:

In [31]:
# Numpy array to pandas dataframe.
# Using the first row as the column names.
np_to_pd = pd.DataFrame(csv_array[1:], columns=csv_array[0])
np_to_pd

,-1.692192,-0.421672,-1.789104,-1.293036,1.064762,1.544351,0.174556,0.572912,0.197412,-7.498772
0,-0.511220,-0.166921,0.507517,-0.243051,0.640542,0.439021,-1.827957,-0.731183,0.485393,21.162524
1,0.059353,0.831303,-0.915439,0.660302,0.555200,0.173515,0.139006,0.595713,-0.824207,151.148060
2,0.374488,-1.186930,-1.438007,-0.067405,0.898368,-0.515061,-0.253298,-1.156222,2.492447,86.522197
3,NaN,-0.067675,0.260916,-1.514934,NaN,0.820740,-1.338398,0.779921,-1.199852,-148.005658
4,-1.475299,0.528674,-0.169681,0.397809,0.038175,0.483537,0.230703,0.571630,0.476727,-76.199379
...,...,...,...,...,...,...,...,...,...,...
1994,-1.085931,-2.551792,1.337470,0.086120,0.832729,0.971260,0.799607,1.070627,-1.134954,177.365526
1995,0.309848,-1.321750,-1.343061,0.275843,1.241276,-0.366639,-1.811137,0.827818,0.785298,86.830829
1996,0.016819,0.700305,0.521211,-1.805882,1.197416,0.753116,-0.269020,0.004878,0.284010,107.237119
1997,NaN,0.143954,0.145462,-0.251355,1.023405,-0.544188,-1.154111,1.446162,0.437147,-110.699384
1998,NaN,0.128160,0.329778,1.185982,0.358305,-0.049627,0.102574,-0.949944,1.095899,80.671137

In [29]:
# Pandas dataframe to numpy array.
pd_to_np = csv_df.to_numpy()
pd_to_np

array([[-1.69219190e+00, -4.21672364e-01, -1.78910393e+00, ...,
         5.72912477e-01,  1.97411565e-01, -7.49877184e+00],
       [-5.11219807e-01, -1.66921125e-01,  5.07516962e-01, ...,
        -7.31182952e-01,  4.85392710e-01,  2.11625235e+01],
       [ 5.93525292e-02,  8.31303290e-01, -9.15438985e-01, ...,
         5.95713392e-01, -8.24206760e-01,  1.51148060e+02],
       ...,
       [ 1.68192198e-02,  7.00304937e-01,  5.21211195e-01, ...,
         4.87800238e-03,  2.84009618e-01,  1.07237119e+02],
       [            nan,  1.43954424e-01,  1.45461612e-01, ...,
         1.44616152e+00,  4.37146700e-01, -1.10699384e+02],
       [            nan,  1.28160374e-01,  3.29777665e-01, ...,
        -9.49943518e-01,  1.09589925e+00,  8.06711373e+01]])

## Calculating statistics on the data using NumPy

4. Calculate the mean along both axes (`axis=0` and `axis=1`) from `csv_array`
* Use the `numpy` function `nanmean` so that missing values are ignored 
* Remember to exclude the first row because it contains the column names

In [42]:
# Axis 0
mean_num= np.nanmean(csv_array[1:, :], axis=0)
print(mean_num)

[-0.0108105  -0.02209654  0.03483747  0.01735542  0.01161834  0.01699081
 -0.01505734 -0.03412821  0.01680321  0.31667077]

In [43]:
# Axis 1
mean_num2= np.nanmean(csv_array[1:, :], axis=1)
print(mean_num2)

[  1.97546642  15.24228064   8.56705775 ...  10.86399715 -12.16143442
   9.20802948]

## Calculating statistics on the data using pandas

5. Display the output of the dataframe method `.describe()` on `csv_df`, which shows the count, mean, std, min, percentiles and max for each column

In [38]:
csv_df.describe()

,feature A,feature B,feature C,feature D,feature E,feature F,feature G,feature H,feature I,label
count,1600.000000,1994.000000,1990.000000,1998.000000,1966.000000,1992.000000,1970.000000,1994.000000,1974.000000,2000.000000
mean,-0.011861,-0.022297,0.033921,0.016700,0.012154,0.017758,-0.014961,-0.033824,0.016895,0.312763
std,1.010551,1.002760,0.978280,1.017416,0.995681,0.993385,1.013103,1.004476,0.986380,104.393995
min,-3.439912,-3.275923,-3.443492,-3.274240,-3.683765,-3.146926,-3.565198,-3.716564,-3.360251,-333.885222
25%,-0.690217,-0.695670,-0.606334,-0.666610,-0.640518,-0.649662,-0.702557,-0.730709,-0.640179,-69.590348
50%,0.000634,-0.006647,0.030771,0.026552,-0.003669,0.027796,-0.017148,-0.043832,0.029037,3.708737
75%,0.647778,0.658105,0.664476,0.732399,0.695244,0.701049,0.687273,0.653868,0.659380,70.030880
max,3.116012,3.553539,3.656855,3.121439,2.922480,3.395417,4.039632,3.226508,3.736254,379.377975

Most data science work will require handling multi-dimensional arrays therefore it is more efficient to use pandas