# Exercises 2.1: pre-processing data

### PA Women in Tech: Intro to Data Science with Python

In these exercises we will look at **handling missing data**. We will:
- load in a dataset
- look at different ways to handle missing data

## Importing libraries

1a. Import the `pandas` library with its usual short name of `pd`

In [1]:
import pandas as pd
import numpy as np

## Data loading and exploring

1b. Load the `racingData.csv` and `horseWeights.csv` datasets into two dataframes, named `df_races` and `df_horse_weights` respectively

Hint: you will need to add the keyword argument `encoding='unicode_escape'` to the method you use

In [2]:
df_races = pd.read_csv('racingData.csv', encoding='unicode_escape')
df_horse_weights = pd.read_csv('horseWeights.csv', encoding='unicode_escape')

1c. Show the first five rows of the dataframe `df_races`

In [3]:
df_races.head()

,race date,horse_name,position,horse_age,bha_rating,draw,trainer_name,jockey_name,prize money 1,course name,race_age,race_title,Qaurter,race distance,odds
0,11/12/2018,Cousin Khee,3,11.0,69,2,Hughie Morrison,Charlie Bennett,3752,SOUTHWELL (A.W),3YO+,BETWAY STAYERS HANDICAP (5),3rd,16,0.142857
1,11/12/2018,Essential,8,4.0,60,9,Olly Williams,Luke Morris,3105,SOUTHWELL (A.W),4YO+,BETWAY DASH HANDICAP (6),3rd,6,0.142857
2,11/12/2018,The Right Choice,4,3.0,69,6,Richard Fahey,Tony Hamilton,3752,SOUTHWELL (A.W),3YO+,SUNRACING.CO.UK HANDICAP (DIV II) (5),3rd,8,0.090909
3,11/12/2018,Argon,7,3.0,43,5,Noel Wilson,Andrew Mullen,3752,SOUTHWELL (A.W),3YO+,BETWAY NOVICE STAKES (5),3rd,5,0.020000
4,11/12/2018,Via Delle Volte,6,3.0,65,14,Joseph Tuite,Luke Morris,3752,SOUTHWELL (A.W),3YO+,BETWAY STAYERS HANDICAP (5),3rd,16,0.111111

1d. Display the shape of the dataframe `df_races`

In [4]:
df_races.shape

(1911, 15)

1e. Show the first five rows of the dataframe `df_horse_weights`

In [5]:
df_horse_weights.head()

         horse_name  horse_weight
0       Cousin Khee           132
1         Essential           128
2  The Right Choice           126
3             Argon           124
4   Via Delle Volte           123

1f. Display the shape of the dataframe `df_horse_weights`

In [9]:
df_horse_weights.shape

(1715, 2)

## Handling missing data using pandas

2a. Count the number of missing values in each column of the dataframe `df_races`

In [10]:
df_races.isnull().sum()

race date          0
horse_name        96
position           0
horse_age        226
bha_rating         0
draw               0
trainer_name       0
jockey_name        0
prize money 1      0
course name        0
race_age           0
race_title         0
Qaurter            0
race distance      0
odds               0
dtype: int64

2b. Count the number of null values in the `horse_name` column of the dataframe `df_races`

In [24]:
df_races['horse_name'].isnull().sum()

96

2c. Drop rows in the dataframe `df_races` that have an empty horse name

In [28]:
# pandas doesnot recognise as null, so I think we can convert the empty strings
# to np.nan object using replace() and then dropna() to delete the rows with null values.

#solution: we can replace empty strings in the horse_name column with np.nan objects like:
df_races['horse_name'].replace('', np.nan)

0            Cousin Khee
1              Essential
2       The Right Choice
3                  Argon
4        Via Delle Volte
              ...
1906               Sitsi
1907        Global Angel
1908     Catheadans Fury
1909    Mischievous Rock
1910    Stone Of Destiny
Name: horse_name, Length: 1911, dtype: object

In [29]:
result= df_races.dropna(subset=['horse_name'])

2e.  Replace all empty horse age values with the mean horse age in the dataframe `df_races`

In [30]:
df_races['horse_age'].fillna(df_races['horse_age'].mean())

0       11.0
1        4.0
2        3.0
3        3.0
4        3.0
        ...
1906     3.0
1907     3.0
1908     4.0
1909     3.0
1910     3.0
Name: horse_age, Length: 1911, dtype: float64